<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/monokai.css">
	<title>{{page.title}} - Laika</title>
	<script type="text/javascript" src='js/highlight.pack.js'></script>
	<script type="text/javascript">hljs.initHighlightingOnLoad();</script>

	<style type="text/css">


	</style>
</head>
<body>

	<div id='dokeeno-content'>

		<div id='heading'>
			<div id='logo'>
				<a href=''><h1>Laika</h1></a>
				<a href='' id='logo_docs'><h2>full featured testing framework for meteor</h2></a>
			</div>
			<div id='links'>
			</div>
			<div style='clear: both'></div>
		</div>

		<div id='content'>
	
			<div id='pageList'>
				<ul>
					{% for p in site.posts %}
						<li><a {% if p.title == page.title %}class='selected'{% endif %}href='{{p.url}}'>{{p.title}}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div id='page'>

				<h1 id='page-title'>{{page.title}}</h1>
				<div id='content'>
					{{content}}
				</div>
			</div>
			<div style='clear:both'></div>

		</div>

		<div id='footer'>
			Laika - full featured testing framework for meteor<br>
			created with love by<br>
			<a href='http://arunoda.me'><code>Arunoda Susiripala</code></a>
		</div>

	</div>
	<a href="https://github.com/arunoda/laika"><img style="box-shadow: 0 0px 0px; position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>
</body>
</html>
